<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>PanFC</title>
  </head>
  
<body style="background-color: antiquewhite;">
    <h1>
        Please confirm your details before payment
    </h1>
    <div>
        <table class="table" cellpadding="2" cellspacing="2">
            <tr id="tr">
                <th>Name:</th>
                <td id="td"> <%=userData.Name%></td>
            </tr>
            <tr id="tr">
                <th>Father's Name:</th>
                <td id="td"> <%=userData.Father_Name%></td>
            </tr>
            <tr id="tr">
                <th>Email:</th>
                <td id="td"> <%=userData.Email%></td>
            </tr>
            <tr id="tr">
                <th>Phone:</th>
                <td id="td"> <%=userData.Phone_no%></td>
            </tr>
            <tr id="tr">
                <th>Address:</th>
                <td id="td"> <%=userData.Address%></td>
            </tr>
            <tr id="tr">
                <th>District:</th>
                <td id="td"> <%=userData.District%></td>
            </tr>
            <tr id="tr">
                <th>Pincode:</th>
                <td id="td"> <%=userData.Pincode%></td>
            </tr>
            <tr id="tr">
                <th>Post Office:</th>
                <td id="td"> <%=userData.Post_Office%></td>
            </tr>
            <tr id="tr">
                <th>State:</th>
                <td id="td"> <%=userData.State%></td>
            </tr>
            <tr id="tr">
                <th>Aadhar Number:</th>
                <td id="td"> <%=userData.Aadhar_Number%></td>
            </tr>
        </table>
    </div><br><br>

    <a href="/userForm" onclick="logout()">logout</a>
    
</body>
</html>