<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>PanFC</title>
</head>

<body style="background-color:#FDFFFC;">
    <h1>
        Applicant details:
    </h1>
    <div>
        <table class="table" cellpadding="2" cellspacing="2" border="1px solid black">
            <tr>
                <th>type</th>
                <th>title</th>
                <th>category</th>
                <th>name</th>
                <th>fathername</th>
                <th>address</th>
                <th>pincode</th>
                <th>district</th>
                <th>state</th>
                <th>postoffice</th>
                <th>email</th>
                <th>phone</th>
                <th>gender</th>
                <th>aadharnumber</th>
                <th>payment</th>
                <th>time</th>
                <th>transactionId</th>
                <th>documents</th>
            </tr>
            <%for(var it in userArr){%>
            <tr>
                <td><%=userArr[it].type%></td>
                <td><%=userArr[it].title%></td>
                <td><%=userArr[it].categoty%></td>
                <td><%=userArr[it].name%></td>
                <td><%=userArr[it].fathername%></td>
                <td><%=userArr[it].address%></td>
                <td><%=userArr[it].pincode%></td>
                <td><%=userArr[it].district%></td>
                <td><%=userArr[it].state%></td>
                <td><%=userArr[it].postoffice%></td>
                <td><%=userArr[it].email%></td>
                <td><%=userArr[it].phone%></td>
                <td><%=userArr[it].gender%></td>
                <td><%=userArr[it].aadharnumber%></td>
                <td><%=userArr[it].payment%></td>
                <td><%=userArr[it].time%></td>
                <td><%=userArr[it].transactionId%></td>
                <td>
                    <table>
                        <td>Addres_proof:<br /><a href="<%=userArr[it].documents.Addres_proof%>"><%=userArr[it].documents.Addres_proof%></a></td>
                        <td>Address_back:<br /><a href="<%=userArr[it].documents.Address_back%>"><%=userArr[it].documents.Address_back%></a></td>
                        <td>Birth_proof:<br /><a href="<%=userArr[it].documents.Birth_proof%>"><%=userArr[it].documents.Birth_proof%></a></td>
                        <td>Identity_proof:<br /><a href="<%=userArr[it].documents.Identity_proof%>"><%=userArr[it].documents.Identity_proof%></a></td>
                        <td>Photo:<br /><a href="<%=userArr[it].documents.Photo%>"><%=userArr[it].documents.Photo%></a></td>
                        <td>Identity_back:<br /><a href="<%=userArr[it].documents.Identity_back%>"><%=userArr[it].documents.Identity_back%></a></td>
                        <td>Signature:<br /><a href="<%=userArr[it].documents.Signature%>"><%=userArr[it].documents.Signature%></a></td>

                    </table>

                </td>





            </tr>
            <%}%>
            
        </table>
    </div><br><br>

    <a href="/userForm" onclick="logout()">logout</a>

</body>

</html>
